.boxcontent{
    background-color: lightgrey;
    border: 5px solid pink;
    margin: 10px;
    margin-left: 400px;
    margin-right: 400px;
}

body{
    font-size: ;
}

h2{
    background-color:antiquewhite;
    color: orange;
    padding: 20px;
    margin-top: 0px;
}

h3{
    margin: 20px;
}

p{
    margin: 20px;
}

.gridContainer{
    display: grid;
    grid-template-columns: auto auto;
}


