@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --third-color: #021e74;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navigation Bar */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

nav ul li>.dropdown-content {
    display: none;
    position: absolute;
  }

nav ul li:hover .dropdown-content {
    display: block;
  }

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% auto;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}
.showcase-img {
    position: relative;
    padding: 40px;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;
}
.showcase::before, .showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/*Stats*/

.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/*languages*/

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translate(-15px);
}

/* Kapitels*/
.kap2-head img {
    width: 200px;
    justify-self: flex-end;
}

.kap2-main .card>i {
    margin-right: 20px;
}

.kap2-main .grid {
    grid-template-columns: 1fr;
    padding: 30px;
}

.kap2-main details summary h3{
    display:inline;
    list-style-position: inside;
    padding-left: 10px;
    font-style:italic;
  }

 .kap2-main details p{
    padding-left: 10px;
  }


/*Footer*/

.footer .social a {
    margin: 0 10px;
}

/* Animations*/

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

/*Tablets und under*/

@media(max-width: 768px) {

    .grid, .showcase .grid, .stats .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase {
        height: auto;
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-img {
        justify-self: center;
        width: 90%;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

}

/*Mobile*/

@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .logo {
        width: 70%;
        justify-self: center;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

}
